@font-face {
  font-family: 'vespa';
  src: local('vespa'), url('./fonts/vespa.ttf');
}

body {
  margin: 0;
}

code {
  font-family: 'Courier New', monospace;
}

#root {
  height: 100vh;
}

.nav-item {
  margin: auto;
}

.nav-link-custom {
  padding-left: 0;
  padding-right: 0;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.nav-item:hover,
.nav-item:hover > a {
  color: #fff;
  background-color: #e40;
}

.link-box {
  padding: 10px;
}

.mockup {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.c-container {
  height: 500px;
}

.vespa-text {
  font-family: vespa, Arial, Helvetica, sans-serif;
}
